<a href="https://colab.research.google.com/github/41915074/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CH1. 파이썬 문법
**자료형**
 * 점수 : 123, 456, 0, -30
 * 실수 : 12.345, -987,65, 0.7e6
 * 8진수 : Oo765, Oo123
 * 진수 :0xOD, 0xOA, 0xFF

**숫자형**

 * 문자 또는 밑줄로 시작 (_YOUNG, alpha)
 * 대소문자 구분(sum, Sum, SUM)
 * 영문자, 숫자, 밑줄(A-z, 0-9, _) ex) sun_9, Alpha, s9n,
 * 파이썬 키워드 (print....)

**변수**

* 문자 또는 밑줄로 시작 (_YOUNG, alpha)
* 대소문자 구분(sum, Sum, SUM)
* 영문자, 숫자, 밑줄(A-z, 0-9, _) ex) sun_9, Alpha, s9n,
* 파이썬 키워드 (print....)

**표기법**

* 카멜(낙타) : myNAME
* 스네이크(뱀) : my_name
* 파스칼 : myName

In [ ]:
a = 10
b = 20
f = "10"
c = a +b
print(a,b,c,f)

10 20 30 10

In [ ]:
a = 10
b = 20
c = "10"
d = "20"
print(a+b)
print(a,b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
10 20
<class 'int'>
<class 'str'>
1020
10 20

#나눗셈

In [ ]:
 a = 10
 b= 3
 c= a/b
 d= a // b #몫
 e= a % b  #나머지
 print(c,d,e)

3.3333333333333335 3 1

#곱셈

In [ ]:
 a=10
 b = 2
 c = a * b # 곱하기
 d= a**b #제곱
 print(c,d)

20 100

#### 문자열
1. 큰따음표 : "Lang Choi"
2. 작은 따음표 : 'Lang Choi'
3. 큰따음표 3개 : """대한민국"""
4. 작은따음표 3개 : '''대한민국'''
5. "동해물과 백두산이 마르고 닳도록
 Choi's"

#변수

In [ ]:
 myName = "Choi young jun"
 my_name = " 최영준 "
 _my_name = "korea"
 MYNAME= "코리아"
 my2name = "kikiki"
# 2myname = "하하하"
# my-name = "가나다라"
# my name = "스페이스"
 myName1= 1234
 myName2 = "1234"
 print (type( myName1 ))
 print (type( myName2 ))

<class 'int'>
<class 'str'>

#### 변수할당

In [ ]:
 a=b=c= "브라보콘"
 print(a)
 print(b)
 print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z = "딸기","포도","바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바","쌍쌍바", "보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x ="Life"
y ="is"
z ="beautifull!"
print(x,y,z,)
print(x+y+z)

Life is beautifull!
Lifeisbeautifull!

In [ ]:
a ="1"
b ="2"
c ="3"
print(a,b,c,)
print(a+b+c)

e= 5
f=6 
print(e+f)

1 2 3
123
11

데이터 바꾸기

In [ ]:
  a = 1;b = 2
  a,b =  b,a
  print(a,b)

2 1

In [ ]:
b=2;c =3
#c= (b=b+c)#error

In [ ]:
a=1;b=2;c=3
f=a+b+\
c
print(f)

6

In [ ]:
 # len()
 a="123456"
 b=[2,3,4,5]
 print(len(a))
 print(len(b))

6
4

계산기

In [ ]:
 a=100
 b=200
 result =a+b
 print(a,'+',b,'=',result)
 result= a - b
 print(a,'-',b,'=',result)
 result= a / b
 print(a,'/',b,'=',result)
 result= a * b
 print(a,'*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a)+b
print(c)

6912

In [ ]:
# 계산기 2
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))
print(type(num1))
result = num1 + num2
print(result)

숫자입력1: 1
숫자입력2: 2
<class 'int'>
3

In [ ]:
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2:"))
a=int(num1)
b=int(num2)
result = a + b
print(a,'+',b,'=',result)
result= a - b
print(a,'-',b,'=',result)
result= a / b
print(a,'/',b,'=',result)
result= a * b
print(a,'*',b,'=',result)

숫자입력1: 1
숫자입력2:1
1 + 1 = 2
1 - 1 = 0
1 / 1 = 1.0
1 * 1 = 1

In [ ]:
#자기이름, 전화번호, 택배 x 100
name = input("이름: ")
result = name
number = input("전화번호: ")
result = number
num1 = input("택배(g)x100: ")
a = int(num1)
result =int(num1)*100  
print("결과값 =", a,"X 100원 =",result,"원 입니다.")

이름: 최영준
전화번호: 01046089209
택배(g)x100: 5000
결과값 = 5000 X 100원 = 500000 원 입니다.

#CH.2 서식 출력 print()

In [ ]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%c" % "1")
print("%s" % "가나다라")
print("%6s" % "가나다라")
print("%6s" % "abcd")

123
  123
00123
123.450000
  123.5
123.450
1
가나다라
  가나다라
  abcd

#### 순서 지정 기능 : format

In [ ]:
print("{0:d},{1:5d},{2:05d}".format(123,456,789))

123,  456,00789

In [ ]:
print("{2:d},{1:5d},{0:05d}".format(123,456,789))

789,  456,00123

#서식 출력

In [ ]:
print("\n줄 바꿈 명령 \n연습 입니다.")

줄 바꿈 명령
연습 입니다.

In [ ]:
print("\t 탭키 명령 \t연습입니다.")

	 탭키 명령 	연습입니다.

In [ ]:
print("따음표 글자가 \"강조\" 되는 효과1")
print("따음표 글자가 \'강조\' 되는 효과2")
print("역슬레시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \" '\\ \' @그래로 출력")

따음표 글자가 "강조" 되는 효과1
따음표 글자가 '강조' 되는 효과2
역슬레시 3개를 출력하려면 \\\ 6개
\n \t \" '\\ \' @그래로 출력

### 관계 연산자

In [ ]:
a,b=10,20
print(a==b,a!=b,a>=b,a<=b,a>b,a<b)

False True False True False True

#### 논리 연산자 and, or, not

In [ ]:
a = 150
print((a>100) and (a<200)) #100<a<200
print((a<100) or (a>200))  #a<100,a>200
print(not(a==100)) # a가 100이 아니면

True
False
True

In [ ]:
if(120): #0이 아니면 참이다
   print("참이면 실행되어 보임")
if(0):  #0이면 안보임
  print("거짓이면 안보임")

참이면 실행되어 보임

###### 퀴즈2 // 몫 % 나머지 money=int(input("입력")) 지폐 금액입력 후 동전으로 교환시 (500원, 100원, 50원, 10원,) 
 money, c500, c100, c50, c10 
받은돈:?개
500원:?개
100원:?개
50원:?개
10원:?개
나머지: ?원

In [ ]:
temp,money,c500,c100,c50,c10=0,0,0,0,0,0
money=int(input("동전으로 교환할 돈은?:"))
temp=money
c500 = money // 500 # 몫
money %= 500 # 나머지
c100 = money // 100
money %=100
c50 = money //50
money %= 50
c10 =money //10
money %= 10
print("입력받은 돈: %d원" % temp )
print("500원 동전 : %d" % c500)
print("100원 동전 : %d" % c100)
print("50원 동전 : %d" % c50)
print("10원 동전 : %d" % c10)
print("나머지 잔돈 : %d" % money)

동전으로 교환할 돈은?:123456789
입력받은 돈: 123456789원
500원 동전 : 246913
100원 동전 : 2
50원 동전 : 1
10원 동전 : 3
나머지 잔돈 : 9

##조건문

In [ ]:
a = 150
if(a < 100): 
  print("100보다 작으면 참")
  print("거짓이면 이문장은 보이지 않음)")
print("프로그램 끝")

프로그램 끝

In [ ]:
a = 80
if(a<100):
  print("참:100보다 작음")
else :
  print("거짓:조건보다 크면")  
print("프로그램 끝")

참:100보다 작음
프로그램 끝

In [ ]:
# 홀짝 구분
a = int(input("숫자 입력"))
if(a%2==0):
  print("짝수 입니다.")
else :
  print(" 홀수 입니다.")

숫자 입력100
짝수 입니다.

In [ ]:
a = int(input("숫자 입력"))
if(a > 50):
  if(a <100):
    print("50<a<100")
  else:
    print("a>100")
else:
   if(a>25):
     print("25<a<50")
   else:
     print("a<25")
print("프로그램 끝")

숫자 입력2315316
a>100
프로그램 끝

In [ ]:
fruit=['사과' '배','샤인머스캣','바나나']
fruit.append('망고')
if '망고' in fruit :
   print("딸기가 있습니다.")
print(fruit)

딸기가 있습니다.
['사과배', '샤인머스캣', '바나나', '망고']

In [ ]:
for i in range(0,3,1): #시작값,끝값+1,증가값
  print("%d 안녕하세요." % i)
print("환영합니다.")

0 안녕하세요.
1 안녕하세요.
2 안녕하세요.
환영합니다.

In [ ]:
 import random 
 num = []
 for i in range(0,6):
    num.append(random.randrange(1,46))
 print("생성 리스트", num)

생성 리스트 [43, 31, 45, 27, 43, 1]

In [ ]:
for i in range(1,9,1):
  print("%d" % i, end='\t')
print("\n")  
for j in range(1,9,1):
  print("%d" % j, end='\t')

1	2	3	4	5	6	7	8

1	2	3	4	5	6	7	8

In [ ]:
sum = 0
for i in range(1,11,1):
  sum = sum + i
print("1부터 10까지 합: %d" % sum)

1부터 10까지 합: 55

In [ ]:
sum,num=0,0
num = int(input("숫자를 입력:"))
for i in range(1,num + 1,1):
  sum = sum + i
print("1~n까지의 합:%d" % sum)

숫자를 입력:1000
1~n까지의 합:500500

In [2]:
i,j=2,0
for j in range(1,10,1):
  print("%d x %d = %2d" % (i,j,i*j))

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [1]:
i,j,k=0,0,0
for i in range(2,10,1):
  for j in range(1,10,1):
    print("%d x %d = %2d" % (i,j,i*j))
  print("")

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 퀴즈 구구단을 만들고 2,3,4,5,줄바꿔서 6,7,8,9을 하시오.

In [3]:
a,b=0,0
for a in range(1,10):
  for b in range(2,6):
    print("%d x %d = %2d" % (b,a,a*b), end="\t")
  print("")
print("\n")
c,d=0,0
for c in range(1,10):
  for d in range(6,10):
    print("%d x %d = %2d" % (d,c,c*d), end="\t")
  print("")

2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45


6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# ch3. 자료형 

## 1. 리스트 인덱스, 슬라이싱

In [5]:
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(a[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1

In [7]:
a = [1,2,3,4,5,6,7,8,9]
print(a[-1])
print(a[-2])

9
8

In [10]:
a = [1,2,3,4,5,6,7,8,9]
print(a[1:9:2])
print(a[0:9:2])

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [11]:
a = [1,2,3,4,5,6,7,8,9]
print(a[:4])
print(a[5:])

[1, 2, 3, 4]
[6, 7, 8, 9]

In [13]:
a = [1,2,3,4,5,6,7,8,9]
print(len(a))
print(len(a)-1)

9
8

In [19]:
b = [1,2,3,4,5,6]
b[0] = "apple"
b[1] = 99
b[5]= [1,2,3]
print(b)

['apple', 99, 3, 4, 5, [1, 2, 3]]

###list add

In [23]:
a = [1,2,3]
b = [4,5,6]
c= a + b
print(a+b)
print(c)
print(c*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

##### 함수 이용

In [28]:
k = ["a","b","c","d"]
k.remove("c") # 해당 요소값 삭제
print(k)
k.append("f") # 맨뒤에 추가
print(k)

['a', 'b', 'd']
['a', 'b', 'd', 'f']

In [29]:
k = [1,2,3,4,5]
k.remove(3) # 해당 요소값 삭제
print(k)
k.append(6) # 맨뒤에 추가
print(k)

[1, 2, 4, 5]
[1, 2, 4, 5, 6]

In [35]:
j = "God is love!"
print(j[:3])
print(j[4:6])
print(j[7:])

God
is
love!

In [38]:
j = " God is love! "
print(j.upper())
print(j.lower())
print(j.strip()) # 공백을 없애줌

 GOD IS LOVE!
 god is love!
God is love!

In [39]:
a = "apple,mango,banana"
print(a.split(",")) #,있는것을 분류해서 만들어줌

['apple', 'mango', 'banana']

In [41]:
a = ["aaple","banana","cherry"]
a.append("orange") # 맨 뒤쪽에 추가
print(a)

['aaple', 'banana', 'cherry', 'orange']

In [42]:
a = ["aaple","banana","cherry"] 
a.insert(1,"orange") # 몇번째 숫자 지정한곳에 추가
print(a)

['aaple', 'orange', 'banana', 'cherry']

In [44]:
a = ["aaple","banana","cherry","banana"] 
a.remove("banana") # 앞에 지정한것을 지워서 출력한다
print(a)

['aaple', 'cherry', 'banana']

In [47]:
a = ["apple","banana","cherry"]
a.pop() # 맨뒤에 있는것을 지운다
print(a)
a.pop(0)
print(a) # 지정한곳을 지운다

['apple', 'banana']
['banana']

In [48]:
fruit = ["사과","배","오렌지"]
for i in fruit: #요소를 꺼내옴
  print(i)

사과
배
오렌지

In [49]:
fruit = ["감","밤","대추"]
for i in range(len(fruit)): # 세번만큼 i를 계산 
  print(fruit)

['감', '밤', '대추']
['감', '밤', '대추']
['감', '밤', '대추']

### SORT

In [50]:
a = [7,5,3,8,2,0,1,4,6,9]
a.sort() # 리스트를 정렬을 해서 출력한다
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
a = [7,5,3,8,2,0,1,4,6,9]
a.sort(reverse = True) # 리시트를 큰숫자서부터 정렬
print(a)
a.sort()
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
fruit = ["Kiwi","apple","Orange","banana"]
fruit.sort() # 대문자 순서대로 출력후 소문자 순서대로 출력
print(fruit)
fruit.sort(key=str.lower) # 대소문자 구분없이 순서대로 출력
print(fruit)
fruit.reverse() # 반대로 출력된다
print(fruit)

['Kiwi', 'Orange', 'apple', 'banana']
['apple', 'banana', 'Kiwi', 'Orange']
['Orange', 'Kiwi', 'banana', 'apple']

In [62]:
# LIST 복사
fruit = ["Kiwi","apple","Orange","banana"]
myList = fruit.copy()
print(myList)
cyList = list(fruit)
print(cyList)

['Kiwi', 'apple', 'Orange', 'banana']
['Kiwi', 'apple', 'Orange', 'banana']

## 2.Tuole 튜플 
 리스트와의 차이점 : 값의 변경이 불가함

In [63]:
I = [1,2,3]
t = (5,6,7)
print(type(I))
print(type(t))

<class 'list'>
<class 'tuple'>

In [66]:
I = [1,2,3]
t = (5,6,7)
I[0] = 4
print(I)
#t[0] = 8
print(t)

[4, 2, 3]
(5, 6, 7)

In [67]:
f = ("apple","banana","cherry")
print(len(f)) #자료형안에 숫자를 구함

3

In [71]:
t = ("Kiwi")
print(t)
print(type(t))

Kiwi
<class 'str'>

In [72]:
t = ("Kiwi",) # 튜플로 인식하기위해 ",필요
print(t)
print(type(t))

('Kiwi',)
<class 'tuple'>

In [75]:
f = ("banana","apple","Kiwi","cherry","Orange")
print(f[:4])
print(f[2:])

('banana', 'apple', 'Kiwi', 'cherry')
('Kiwi', 'cherry', 'Orange')

In [76]:
f = ("banana","apple","Kiwi","cherry","Orange")
if "apple" in f:
  print("Yes")
else:
  print("no")

Yes

### Tuple <-> List

In [79]:
# 튜플에 추가하는 방법
t = ("apple","banana","cherry")
y = list(t)
print(type(y)) # 튜플을 리스트로 바꾼다
y.append("Orange") # Orange 추가
t = tuple(y) # 다시 튜플로 바꾸어준다
print(t)

<class 'list'>
('apple', 'banana', 'cherry', 'Orange')

In [81]:
# List <-> Tuple
company = ["LG","SK","Apple"]
t = tuple(company)
print(company) # 리스트
print(t) # 튜플

['LG', 'SK', 'Apple']
('LG', 'SK', 'Apple')

In [82]:
c = ("LG","SK","Apple")
d = ("Samsung",)
c += d  # c = c + d
print(c)

('LG', 'SK', 'Apple', 'Samsung')

In [83]:
t = ("감","밤","대추")
I = list(t)
I.remove("대추")
t = tuple(I)
print(t)

('감', '밤')

## 3.Dict 사전자료형

In [86]:
d = {
    "a":1,
    "b":2,
    "c":3
}
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [88]:
d = {
    "a":1,
    "b":2,
    "c":3
}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [95]:
car = {
    "maker" : "Hyundai",
    "model" : "Pony2",
    "year" : 1994
}
print(car)
print(len(car))
car["year"] = 2000
print(car)
car["color"] = "blue"
print(car)
print(car["maker"])

{'maker': 'Hyundai', 'model': 'Pony2', 'year': 1994}
3
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000}
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000, 'color': 'blue'}
Hyundai

In [96]:
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}
car.pop("model") # 해당 키값을 삭제
print(car)

{'maker': 'BMW', 'year': 2023}

In [97]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
car.popitem() # 맨뒤에 삭제
print(car)

{'maker': 'BMW', 'model': 'GT'}

In [100]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
car.clear() #안에 전체 테이터를 비움
print(car)
car["maker"] = "KIA"
print(car)

{}
{'maker': 'KIA'}

In [101]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
del car #다지워져서 오류가 생김
# print(car)

###loop

In [102]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car:
  print(car[x])

BMW
i4
2023

In [103]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car.keys():
  print(x)

maker
model
year

In [104]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car.values():
  print(x)

BMW
i4
2023

In [105]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x,y in car.items():
  print(x,y) #item 값은 한쌍이므로 임이로 x,y 두개를 넣어줘야 한다

maker BMW
model i4
year 2023

In [106]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
myCar = car.copy()
print(myCar)

{'maker': 'BMW', 'model': 'i4', 'year': 2023}

In [107]:
food = {
    "brand" : "Lotte",
    "model" : "Ice Cream",
    "Price" : 2000
}
myFood = dict(food)
print(myFood)

{'brand': 'Lotte', 'model': 'Ice Cream', 'Price': 2000}

In [108]:
name1 = {"name" : "김삿갓", "year" : 1900}
name2 = {"name" : "홍길동", "year" : 1800}
name3 = {"name" : "김유진", "year" : 2000}
family ={
    "name1" : name1,
    "name2" : name2,
    "name3" : name3
}
print(family)

{'name1': {'name': '김삿갓', 'year': 1900}, 'name2': {'name': '홍길동', 'year': 1800}, 'name3': {'name': '김유진', 'year': 2000}}

In [120]:
name1 = input("이름")
number1 = input("전화번호")
name2 = input("이름")
number2 = input("전화번호")
name3 = input("이름")
number3 = input("전화번호")
family ={
    "name1" : name1,
    "name2" : name2,
    "name3" : name3
}
for x,y in family.items():
  print(x,y)

이름0
전화번호1
이름2
전화번호3
이름4
전화번호5
name1 0
name2 2
name3 4