<a href="https://colab.research.google.com/github/41915074/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CH1. 파이썬 문법
**자료형**
 * 점수 : 123, 456, 0, -30
 * 실수 : 12.345, -987,65, 0.7e6
 * 8진수 : Oo765, Oo123
 * 진수 :0xOD, 0xOA, 0xFF

**숫자형**

 * 문자 또는 밑줄로 시작 (_YOUNG, alpha)
 * 대소문자 구분(sum, Sum, SUM)
 * 영문자, 숫자, 밑줄(A-z, 0-9, _) ex) sun_9, Alpha, s9n,
 * 파이썬 키워드 (print....)

**변수**

* 문자 또는 밑줄로 시작 (_YOUNG, alpha)
* 대소문자 구분(sum, Sum, SUM)
* 영문자, 숫자, 밑줄(A-z, 0-9, _) ex) sun_9, Alpha, s9n,
* 파이썬 키워드 (print....)

**표기법**

* 카멜(낙타) : myNAME
* 스네이크(뱀) : my_name
* 파스칼 : myName

In [ ]:
a = 10
b = 20
f = "10"
c = a +b
print(a,b,c,f)

10 20 30 10

In [ ]:
a = 10
b = 20
c = "10"
d = "20"
print(a+b)
print(a,b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
10 20
<class 'int'>
<class 'str'>
1020
10 20

#나눗셈

In [ ]:
 a = 10
 b= 3
 c= a/b
 d= a // b #몫
 e= a % b  #나머지
 print(c,d,e)

3.3333333333333335 3 1

#곱셈

In [ ]:
 a=10
 b = 2
 c = a * b # 곱하기
 d= a**b #제곱
 print(c,d)

20 100

#### 문자열
1. 큰따음표 : "Lang Choi"
2. 작은 따음표 : 'Lang Choi'
3. 큰따음표 3개 : """대한민국"""
4. 작은따음표 3개 : '''대한민국'''
5. "동해물과 백두산이 마르고 닳도록
 Choi's"

#변수

In [ ]:
 myName = "Choi young jun"
 my_name = " 최영준 "
 _my_name = "korea"
 MYNAME= "코리아"
 my2name = "kikiki"
# 2myname = "하하하"
# my-name = "가나다라"
# my name = "스페이스"
 myName1= 1234
 myName2 = "1234"
 print (type( myName1 ))
 print (type( myName2 ))

<class 'int'>
<class 'str'>

#### 변수할당

In [ ]:
 a=b=c= "브라보콘"
 print(a)
 print(b)
 print(c)

브라보콘
브라보콘
브라보콘

In [5]:
x,y,z = "딸기","포도","바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바","쌍쌍바", "보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x ="Life"
y ="is"
z ="beautifull!"
print(x,y,z,)
print(x+y+z)

Life is beautifull!
Lifeisbeautifull!

In [ ]:
a ="1"
b ="2"
c ="3"
print(a,b,c,)
print(a+b+c)

e= 5
f=6 
print(e+f)

1 2 3
123
11

데이터 바꾸기

In [ ]:
  a = 1;b = 2
  a,b =  b,a
  print(a,b)

2 1

In [ ]:
b=2;c =3
#c= (b=b+c)#error

In [ ]:
a=1;b=2;c=3
f=a+b+\
c
print(f)

6

In [6]:
 # len()
 a="123456"
 b=[2,3,4,5]
 print(len(a))
 print(len(b))

6
4

계산기

In [ ]:
 a=100
 b=200
 result =a+b
 print(a,'+',b,'=',result)
 result= a - b
 print(a,'-',b,'=',result)
 result= a / b
 print(a,'/',b,'=',result)
 result= a * b
 print(a,'*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a)+b
print(c)

6912

In [ ]:
# 계산기 2
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))
print(type(num1))
result = num1 + num2
print(result)

숫자입력1: 1
숫자입력2: 2
<class 'int'>
3

In [4]:
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2:"))
a=int(num1)
b=int(num2)
result = a + b
print(a,'+',b,'=',result)
result= a - b
print(a,'-',b,'=',result)
result= a / b
print(a,'/',b,'=',result)
result= a * b
print(a,'*',b,'=',result)

숫자입력1: 1
숫자입력2:1
1 + 1 = 2
1 - 1 = 0
1 / 1 = 1.0
1 * 1 = 1

In [9]:
#자기이름, 전화번호, 택배 x 100
name = input("이름: ")
result = name
number = input("전화번호: ")
result = number
num1 = input("택배(g)x100: ")
a = int(num1)
result =int(num1)*100  
print("결과값 =", a,"X 100원 =",result,"원 입니다.")

이름: 최영준
전화번호: 01046089209
택배(g)x100: 5000
결과값 = 5000 X 100원 = 500000 원 입니다.