<a href="https://colab.research.google.com/github/41915074/python2/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CH1. 파이썬 문법
**자료형**
 * 점수 : 123, 456, 0, -30
 * 실수 : 12.345, -987,65, 0.7e6
 * 8진수 : Oo765, Oo123
 * 진수 :0xOD, 0xOA, 0xFF

**숫자형**

 * 문자 또는 밑줄로 시작 (_YOUNG, alpha)
 * 대소문자 구분(sum, Sum, SUM)
 * 영문자, 숫자, 밑줄(A-z, 0-9, _) ex) sun_9, Alpha, s9n,
 * 파이썬 키워드 (print....)

**변수**

* 문자 또는 밑줄로 시작 (_YOUNG, alpha)
* 대소문자 구분(sum, Sum, SUM)
* 영문자, 숫자, 밑줄(A-z, 0-9, _) ex) sun_9, Alpha, s9n,
* 파이썬 키워드 (print....)

**표기법**

* 카멜(낙타) : myNAME
* 스네이크(뱀) : my_name
* 파스칼 : myName

In [2]:
a = 10
b = 20
f = "10"
c = a +b
print(a,b,c,f)

10 20 30 10

In [4]:
a = 10
b = 20
c = "10"
d = "20"
print(a+b)
print(a,b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
10 20
<class 'int'>
<class 'str'>
1020
10 20

#나눗셈

In [19]:
 a = 10
 b= 3
 c= a/b
 d= a // b #몫
 e= a % b  #나머지
 print(c,d,e)

3.3333333333333335 3 1

#곱셈

In [20]:
 a=10
 b = 2
 c = a * b # 곱하기
 d= a**b #제곱
 print(c,d)

20 100

#### 문자열
1. 큰따음표 : "Lang Choi"
2. 작은 따음표 : 'Lang Choi'
3. 큰따음표 3개 : """대한민국"""
4. 작은따음표 3개 : '''대한민국'''
5. "동해물과 백두산이 마르고 닳도록
 Choi's"

#변수

In [30]:
 myName = "Choi young jun"
 my_name = " 최영준 "
 _my_name = "korea"
 MYNAME= "코리아"
 my2name = "kikiki"
# 2myname = "하하하"
# my-name = "가나다라"
# my name = "스페이스"
 myName1= 1234
 myName2 = "1234"
 print (type( myName1 ))
 print (type( myName2 ))

<class 'int'>
<class 'str'>

#### 변수할당

In [14]:
 a=b=c= "브라보콘"
 print(a)
 print(b)
 print(c)

브라보콘
브라보콘
브라보콘

In [18]:
x,y,z = "딸기","포도","바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [23]:
fruits = ["누가바","쌍쌍바", "보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [27]:
x ="Life"
y ="is"
z ="beautifull!"
print(x,y,z,)
print(x+y+z)

Life is beautifull!
Lifeisbeautifull!

In [29]:
a ="1"
b ="2"
c ="3"
print(a,b,c,)
print(a+b+c)

1 2 3
123