<a href="https://colab.research.google.com/github/41915074/python/blob/main/%EB%AF%B8%EC%84%B8%EB%A8%BC%EC%A7%80_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import urllib.request
import json
from pandas import json_normalize
from urllib.parse import urlencode, quote_plus, unquote

In [38]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20180306-3).
0 upgraded, 0 newly installed, 0 to remove and 34 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [15]:
api = 'http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getMinuDustFrcstDspth'
key = 's9d24DID8McX9iHiTGEso0ztWsa4PWO7VTdsHYHrWLcLZWsVU8SWuuPHlsbg8/b0Zc80XqjGWuiP1Y+xKsxCzw=='

In [16]:
queryParams = '?' + urlencode({quote_plus('serviceKey') :  's9d24DID8McX9iHiTGEso0ztWsa4PWO7VTdsHYHrWLcLZWsVU8SWuuPHlsbg8/b0Zc80XqjGWuiP1Y+xKsxCzw==',
                               quote_plus('returnType') : 'json',
                               quote_plus('numOfRows') : '2153',
                               quote_plus('pageNo') : '1',
                               quote_plus('stationName') : '파주읍',
                               quote_plus('dataTerm') : '3MONTH',
                               quote_plus('ver') : '1.0'
                               })

url = api+queryParams

In [17]:
text = urllib.request.urlopen(url).read().decode('utf-8')

In [18]:
json_return = json.loads(text)
get_data = json_return.get('response')

In [19]:
df = json_normalize(get_data['body']['items'])
df

    informCode    dataTime
0           O3  2023-05-29
1         PM25  2023-05-29
2         PM10  2023-05-29
3         PM10  2023-05-29
4         PM25  2023-05-29
..         ...         ...
827       PM10  2023-04-30
828       PM10  2023-04-30
829       PM25  2023-04-30
830       PM25  2023-04-30
831         O3  2023-04-30

[832 rows x 2 columns]

In [13]:
df.to_excel(excel_writer="air.xlsx")